.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff; /* Or any color you prefer */
}

.body {
    width: 100%;
    max-width: 1400px; /* Adjust as needed */
    margin: 0 auto;
}