.content-section {
  padding: 120px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.5s ease;
  font-size: 5rem;
  color: #fffafa;
  text-align: left;
  font-family: 'DirtyFont';
  font-weight: lighter;
  margin-left: 5%;
}

.supporting-text {
  color: #fffafa;
  margin-top: 1rem;
  font-size: 5rem;
  font-family: 'Satoshi'; 
  font-weight: 'bold'; 
}